* {
    box-sizing: border-box;
    margin: 6px;
    padding: 6px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

/*** TOAST STYLING ***/

.v-toast__item--success {
    background-color: #43AA8B !important;
}

.v-toast__item--error {
    background-color: #F94144 !important;
}

.v-toast__item--warning {
    background-color: #F9C74F !important;
}

/****** GENERAL STYLING ******/

body {
    margin: auto;
    height: 100%;
    width: 90%;
}

h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #43AA8B;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

/*** Navigation ***/

nav.app-nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 5px;
    align-items: start;
    width: 20%;
}

nav.app-nav a, button {
    padding: 0px;
    margin: 0px;
}

#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #577590;
}

#nav a.router-link-exact-active {
    color: #90BE6D;

}

.btnless:hover {
    cursor: pointer;
}

.logout {
    margin-top: 30px;
    color: lightgrey;
}

/*** MAIN ***/

.main-container {
    display: flex;
    justify-content: center;
    height: calc(100% - 25px);
    max-width: 80%;
}

main.app-main {
    display: flex;
    flex-direction: column;
    border: 1px solid #277DA1;
    border-radius: 15px;
    width: 60%;
    padding: 25px;

}

.app-main.button {
    width: 50px;
}


.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
}

.message-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
}

textarea.send-new-message {
    width: 70%;
    border: 1px solid #90BE6D;
    border-radius: 1em;
    height: 10em;
    text-align: left;
}

textarea.send-new-message:focus {
    outline: thin dotted;
    border-radius: 1em;
}

.button-container {
    display: flex;
    text-align: left;
    width: 100%;
    padding: 0;
}

.button {
    margin-top: 1em;
    margin-right: 1em;
    width: 150px;
    border-radius: 0.8em;
    padding: 5px 10px 5px 10px;
}

.button:focus {
    outline: thin dotted;
    box-shadow: 0px 0px 2px #0066ff;
}

/*** FOOTER ***/

.App_footer {
    position: fixed;
    bottom: 15px;
    left: 0;
    right: 0;
}

.footer-container {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    border-top: solid 2px #2c3e50;
    text-align: center;
}

/*** FEED ***/

.feed-messages-container {
    border: 1px solid #2c3e50;
    border-radius: 1em;
}

