* {
    box-sizing: border-box;
    margin: 6px;
    padding: 3px;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

body, html{
    margin:0;
    padding: 0;
}

#app{

    margin: 0;
    height: 100vh;
}

.main-container-supermain{
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

/*** TOAST STYLING ***/

.v-toast__item--success {
    background-color: #43AA8B !important;
}

.v-toast__item--error {
    background-color: #F94144 !important;
}

.v-toast__item--warning {
    background-color: #F9C74F !important;
}

/****** GENERAL STYLING ******/

body {
    margin: auto;
    height: 100%;
    width: 90%;
}

h3 {
    margin: 40px 0 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #43AA8B;
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}


/*** MAIN ***/

.main-container {
    display: flex;
    justify-content: center;
    height: calc(100% - 25px);
    max-width: 80%;
}

main.app-main {
    display: flex;
    flex-direction: column;
/*    border: 1px solid #277DA1;
    border-radius: 15px;*/
    width: 480px;
    padding: 10px;

}

.app-main.button {
    width: 50px;
}

.main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
}

.message-container::after {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
}

textarea.send-new-message {
    width: 70%;
    border: 1px solid #90BE6D;
    border-radius: 1em;
    height: 10em;
    text-align: left;
}

textarea.send-new-message:focus {
    outline: thin dotted;
    border-radius: 1em;
}

.button-container {
    display: flex;
    text-align: left;
    width: 100%;
    padding: 0;
}

.button {
    margin-top: 1em;
    margin-right: 1em;
    width: 150px;
    border-radius: 0.8em;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

.button:focus {
    outline: thin dotted;
    box-shadow: 0px 0px 2px #0066ff;
}

/*** FOOTER ***/

.App_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #fff;
}

.footer-container {
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    border-top: solid 2px #2c3e50;
    text-align: center;
}

/*** FEED ***/

button.refresh-button {
    align-self: center;
    width: 72%;
    border-radius: 0.8em;
    padding: 5px 12px 5px 10px;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #90BE6D;
    cursor: pointer;
}

ul.message-data > li {
    width: 80%;
}

.feed-messages-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    border: 1px solid #2c3e50;
    border-radius: 1em;
}

.created_at, .id, .message {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    text-align: left;
}

.created_at {
    font-size: 0.8em;

}

.id {
    font-size: 1.1em;
}

.message {
    font-size: 1em;
}

